click==6.7
cycler==0.10.0
Flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
numpy==1.13.3
oauthlib==2.0.6
pandas==0.21.0
pandas-datareader==0.5.0
pip==9.0.1
pymongo==3.5.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pywin32==218
requests==2.18.4
requests-file==1.4.2
requests-ftp==0.3.1
requests-oauthlib==0.8.0
setuptools==28.8.0
Shapely==1.4.0
six==1.11.0
urllib3==1.22
virtualenv==15.1.0
Werkzeug==0.12.2